export PRJ_ROOT=$(pwd)

export GOPATH=${PRJ_ROOT}/go
export GOPRIVATE="github.com/netbee/*"

export API_COMMON_PROTOS=${PRJ_ROOT}/api-common-protos
export APIS=${PRJ_ROOT}/netbeeapis
export GENPROTO_GO=${PRJ_ROOT}/netbee-genproto-go
export GENPROTO_GO_MODULE=github.com/netbee/netbee-genproto-go
export GAPIC_GO=${PRJ_ROOT}/netbee-gapic-go
export GAPIC_GO_MODULE=github.com/netbee/netbee-gapic-go
export PATH="${GOPATH}/bin:${PATH}"
export POSTGRES_PASSWORD=cqaykedeu9
export PROTOC_GEN_DART="$HOME/.pub-cache/bin"